html, body {
    margin: 0;
    padding: 0;
}

.welcome {
    display: flex;
    flex-direction: column;
}

.even-split {
    display: none;
    flex-direction: column;
}

#num-people {
    width: 3em;
}

.item-split {
    display: none;
    flex-direction: column;
}

.item-bill {
    display: none;
}