:root {
    --primary-red: #e94f37;
    --primary-white: #f6f7eb;
    --primary-black: #393e41;
}

@font-face {
    font-family: "Roboto";
    src: url('./Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto-Bold";
    src: url('./Roboto-Bold.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    touch-action: manipulation;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-black);
    color: white;
    font-family: "Roboto";
}

.title {
    text-align: center;
    font-size: 3em;
    font-family: "Roboto-Bold";
}

main {
    width: 80%;
    height: 75vh;
    margin: 0em 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--primary-black);
    border-radius: 24px;
    font-size: 1.75em;
}

.btn {
    width: 5em;
    background-color: var(--primary-black);
    color: var(--primary-white);
    border-radius: 12px;
    font-size: 1em;
}

.home {
    margin: 1em 0em 0em;
}

/* index.html styles */
.instructions {
    text-align: center;
}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options {
    display: inherit;
    align-items: center;
    justify-content: space-evenly;
}

/* evensplit.html styles */
.even-instructions {
    margin: 0;
    padding: 0;
    text-align: center;
}

.even-menu {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.even-form {
    margin: 0.5em 0em;
}

.even-total, .even-tax, .even-tip, .even-diners  {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.even-calculations {
    margin: 1em 0em 0em;
    display: none;
    flex-direction: column;
    font-size: 0.75em;
}

.even-calculations > p {
    margin: 0.25em;
    padding: 0;
}

#total-amount, #split-amount {
    font-family: "Roboto-Bold";
}

/* itemsplit.html styles */
.item-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add-diner {
    text-align: center;
}

.add-diner-instructions {
    margin: 1em 0em;
    padding: 0;
}

.add-diner-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add-section {
    width: 100%;
    margin: 0em 0em 0.5em;
    display: inherit;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1em;
}

#diner-name {
    width: 60%;
    font-size: 1em;
}

#add-diner-btn {
    width: 2em;
}

.added-diners {
    margin: 0em;
    text-align: center;
}

#diner-next-btn {
    display: none;
    text-align: center;
    margin: 1em 0em;
}

.add-items {
    display: none;
    flex-direction: column;
}

.item-calculations {
    display: none;
    flex-direction: column;
}

.calculate-split {
    display: none;
    flex-direction: column;
}

#custom-tip {
    display: none;
}