html, body {
    margin: 0;
    padding: 0;
}

* {
    touch-action: manipulation;
}

.btn {
    width: 75px;
}

.main-menu {
    display: flex;
    flex-direction: column;
}

.even-split {
    flex-direction: column;
}

.even-calculations {
    display: none;
    flex-direction: column;
}

#num-people {
    width: 3em;
}

.item-split {
    flex-direction: column;
}

.item-bill {
    display: none;
}

.add-items {
    display: none;
    flex-direction: column;
}

.calculate-split {
    display: none;
    flex-direction: column;
}

#custom-tip {
    display: none;
}